/* General styling */
body {
	font-family: Nunito;
}
main {
	padding: 5px;
}
h1 {
	font-family: Roboto;
	padding: 30px;
    text-align: center;
}
nav ul {
	display: flex;
	justify-content: center;
	gap: 50px;
	font-size: 20px;
	padding: 0px;
    
}
nav a {
    text-decoration: none;
    color: #22BA94;
}
.products a {
    color: black;
    text-decoration: none;
}
nav li {
	list-style: none;
   
}
.active {
	text-decoration: underline;
}

/* Index page */
.products {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 30px;
}
.product_card {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px;
    border-style:groove;
    border-radius: 10px;
}
.image {
    text-align: center;
}
.error {
    background-color: #EDEDED;
    padding: 10px;
}
.form_error, .error {
    color: red;
    font-size: 12px;
}
.form_error {
    display: none;
}

.loader {
    color: navy;
    text-align: center;
}
/* Contact page */
form {
    padding: 50px;
    background-color: #EDEDED;
    margin: auto;
}

input {
    padding: 7px;
    font-size: 15px;
    border-radius: 5px;
    border-style: none;
    width: 100%;
    margin-bottom: 15px;
}

button {
    background-color: #22BA94;
    font-weight: 600;
    padding: 10px 50px;
    margin-top: 20px;
    border-style: none;
    border-radius: 5px;
    color: black;
}
/* Details page */


/* Tablet */
@media only screen and (min-width: 641px) {
	main {
		padding: 10px;
	}
	form {
        max-width: 600px;
    }
    input {
        padding: 10px;
        font-size: 20px;
        margin-bottom: 20px;
    }
    .error, .form_error {
        font-size: 15px;
    }
   
}

/* Desktop */
@media only screen and (min-width: 1008px) {
	body {
		font-size: 25px;
		max-width: 1400px;
		margin: auto;
	}
	main {
		padding: 20px;
	}
	nav ul {
		font-size: 25px;
	}
    form {
        max-width: 1000px;
    }
    input {
        padding: 15px;
        font-size: 25px;
        margin-bottom: 30px;
    }
    
	button, .error, .form_error  {
        font-size: 20px;
    }
}