body {
	font-family: Nunito;
   
}
main {
	padding: 5px;
}
h1 {
	font-family: Roboto;
	padding: 30px;
    text-align: center;
}
nav ul {
	display: flex;
	justify-content: center;
	gap: 50px;
	font-size: 20px;
	padding: 0px;
}
a {
    text-decoration: none;
    color: navy;
}
nav li {
	list-style: none;
}
.active {
	text-decoration: underline;
}
form {
    padding: 50px;
    background-color: lightgrey;
    margin: auto;

}

input {
    padding: 7px;
    font-size: 15px;
    border-radius: 5px;
    border-style: none;
    width: 100%;
    margin-bottom: 15px;
}

.error {
    color: red;
    font-size: 12px;
    /* display: none; */
}
button {
    background-color: navy;
    font-weight: 600;
    padding: 10px 50px;
    margin-top: 20px;
    border-style: none;
    border-radius: 5px;
    color: white;
}
.products {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 30px;
}
.product_card {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px;
    border-style:groove;
    border-radius: 10px;
}
.image {
    text-align: center;
}
.message_error {
    color: red;
    background-color: lightgrey;
    padding: 10px;
}
.loader {
    color: navy;
    text-align: center;
}
/* Tablet */
@media only screen and (min-width: 641px) {
	main {
		padding: 10px;
	}
	form {
        max-width: 600px;
    }
    input {
        padding: 10px;
        font-size: 20px;
        margin-bottom: 20px;
    }
    .error {
       font-size: 13px;
    }
}

/* Desktop */
@media only screen and (min-width: 1008px) {
	body {
		font-size: 25px;
		max-width: 1400px;
		margin: auto;
	}
	main {
		padding: 20px;
	}
	nav ul {
		font-size: 25px;
	}
    form {
        max-width: 1000px;
    }
    input {
        padding: 15px;
        font-size: 25px;
        margin-bottom: 30px;
    }
    .error {
        font-size: 17px;
     }
	button {
        font-size: 20px;
    }
}